body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(157, 167, 247)
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #524c4c;
    padding: 10px 20px;
}

.navbar .logo {
    color: #fff;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-icons a {
    color: #fff;
    margin-left: 15px;
}

.hero {
    background: url('hero.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #080101;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
   
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-content button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
}

.categories {
    padding: 40px 20px;
    text-align: center;
}

.category-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-item {
    margin: 20px;
    text-align: center;
}

.category-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.footer-content {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin: 0 10px;
}

.footer-content ul a {
    color: #fff;
    text-decoration: none;
}
